# Tested project environment: Python 3.11
jupyterlab==4.4.4
matplotlib==3.10.3
numpy==2.3.1
opencv-python==4.11.0.86
openmeteo-requests==1.5.0
pandas==2.3.0
Pillow==11.3.0
PyQt5==5.15.11
PyQtWebEngine==5.15.7
python-dotenv==1.1.1
rasterio==1.4.3
requests-cache==1.2.1
retry-requests==2.0.0
scikit-learn==1.7.0
seaborn==0.13.2
sentinelhub==3.11.1
tifffile==2025.6.11
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
